{
    "extends": "airbnb",
    "rules": {
        "object-curly-newline": [
            "error",
            {
                "ObjectPattern": {
                    "multiline": true
                }
            }
        ],
        "no-console": "off"
    }
}