{
    "extends": "airbnb",
    "rules": {
        "object-curly-newline": [
            "error",
            {
                "ObjectPattern": {
                    "multiline": true
                }
            }
        ],
        "no-console": "off",
        "jest/no-disabled-tests": "warn",
        "jest/no-focused-tests": "error",
        "jest/no-identical-title": "error",
        "jest/prefer-to-have-length": "warn",
        "jest/valid-expect": "error",
        "no-underscore-dangle": "off"
    },
    "plugins": [
        "jest"
    ],
    "env": {
        "jest/globals": true
    }
}